@model IEnumerable<RoadMaintainSys.Entities.News>
@using RoadMaintainSys.UI.Utility
@{
    ViewData["Title"] = "管理员首页";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section AdminName{
    欢迎您:@ViewBag.AdminName
}

<h1>最新新闻</h1>
<hr />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                标题:
            </th>
            <th>
                发布者:
            </th>
            <th>
                内容:
            </th>
            <th>
                发布时间:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @LengthLimit.ContentLenLimit(item.Content,15)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td style="text-align:center">
                    @Html.ActionLink("查看", "NewsDetail",new {  id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>

<p style="position:absolute;bottom:50px;">
    <a asp-action="NewsList">新闻列表</a>
</p>
