@model IEnumerable<RoadMaintainSys.Entities.TableItem>

@{
    ViewData["Title"] = "养护详细信息";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section AdminName{
    欢迎您:@ViewBag.AdminName
}

<h1>详细信息</h1>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th class=col-1>
                项目:
            </th>
            <th class=col-3>
                内容:
            </th>
            <th class=col-1>
                基本分:
            </th>
            <th class=col-3>
                扣分标准:
            </th>
            <th class=col-2>
                扣分原因:
            </th>
            <th class=col-1>
                最终得分:
            </th>
            <th class=col-1>
                备注:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                @if (ViewBag.Type == 1)
                {
                    @switch (item.ItemContent)
                    {
                        case "1":
                            <td>
                                1、认真开展公路养护巡查，县级公路机构公路巡查每月不少于一次；基层站点日常巡查每天不少于一次，夜间巡查每周不少于一次。
                                2、巡查记录完整规范，及时记录公路路况信息，发现公路损坏、污染及其他影响正常通行的情况，采取对应处置措施。
                            </td>
                            break;
                        case "2":
                            <td>以目测为主，检查外表可见的病害和缺陷等，并现场填写桥梁经常性检查记录，且每月不得少于一次。</td>
                            break;
                        case "3":
                            <td>以目测为主，检查外表可见的病害和缺陷等，并现场填写涵洞经常性检查记录，且每月不得少于两次。</td>
                            break;
                        default:
                            <td>对土建结构的外观进行一般性检查，具体按照《公路隧道养护技术规范》等有关要求执行</td>
                            break;
                    }
                }
                else if (ViewBag.Type == 2)
                {
                    @switch (item.ItemContent)
                    {
                        case "1":
                            <td>
                                1、整修路肩、边坡，修剪路肩草、分隔带草木，清除杂物，保持路容整洁;
                                2、疏通边沟、截水沟、上下边坡平台水沟、跌水槽、集水井，保持排水系统畅通;
                                3、清除挡土墙、边坡、排水系统的杂物及小溜方、清理及修复沉降缝，清理SNS挂网内的危石浮石及网片修补、疏通泄水孔，处理松动石块，清理碎落台等;
                                4、路基构造物、排水系统等小面积损坏应及时修复完成。

                            </td>
                            break;
                        case "2":
                            <td>
                                1、清扫路面泥土、杂物，保持路面整洁;
                                2、处治泛油、松散、路面坑槽、裂缝、车辙拥包等轻微病害;
                                3、处治路面积水、积雪、积冰、积沙;撒防滑料、融雪剂，维持交通;
                                4、水泥混凝土路面接缝养护、断角修补等。
                            </td>
                            break;
                        case "3":
                            <td>
                                1、清除桥面污泥、积雪、杂物，保持桥面清洁，疏通泄水孔。
                                2、支座清洁与维护、加润滑油、栏杆清洁、刷新。
                                3、桥涵伸缩缝的清洁与维护。
                                4、桥头锥坡、护坡以及截水坝的维护和修复。
                                5、疏导桥下河槽、清理桥下占用空间，定期清除杂草、清除储藏堆物等;
                                6、检查通道保持畅通整洁。
                                7、桥面铺装层、人行道及栏杆、桥头搭板等出现损坏及时修复，桥头跳车及时处治。
                            </td>
                            break;
                        case "4":
                            <td>
                                1、涵洞通道、窨井、出口跌水槽等的清理、维修。
                                2、涵帽刷漆、清洗。

                            </td>
                            break;
                        case "5":
                            <td>
                                1、清除隧道内污泥、杂物、冰雪，保持清洁;
                                2、疏通泄水孔、排水沟、截水沟，保持排水畅通;
                                3、隧道内路面、衬砌、洞口、洞身等破损维护，锥坡、护坡的维护;
                                4、清除隧道口碎落岩石。
                                5、清除消防水池淤泥、保证水池正常蓄水、水管维护;消防设施的维护、消防液定期更换，
                                6、灯具、通风设施及机电线路检查保养。
                                7、隧道洞口及时刷新，反光设施清洗，标线刷新。
                                8、隧道洞口检查通道、机房检查保养、隧道内检修通道维护。
                            </td>
                            break;
                        case "6":
                            <td>
                                1、对混凝土护栏、轮廓标、界牌、百米桩、里程牌、活动栅栏、示警标柱等的清洗、刷新或修理维护。
                                2、标志牌清洗、维护，标线的清洁。
                                3、标志牌遮挡物的清除。
                                4、路面标线的局部补画。
                            </td>
                            break;
                        default:
                            <td>
                                1、对绿化进行修剪、整枝、扶正。
                                2、冬季路树刷白等。
                            </td>
                            break;
                    }
                }
                else
                {
                    @switch (item.ItemContent)
                    {
                        case "1":
                            <td>
                                按照省局相关要求，结合实际制订了日常养护管理、日常巡查、检查评价、信息报送等管理制度，并得到较好落实。

                            </td>
                            break;
                        case "2":
                            <td>
                                1、“三图三表”按规定上墙，原始记录本、技术档案和历史存档齐全，填写规范。                                                                                                                                                                                            
                                2、公路小修维护及时，计划合理，施工记录齐全，质量验收完整。                                                                                                         
                                3、按照规定做好公路养护信息管理系统、桥梁管理系统信息录入及管理工作。                                                                                                                                                                 
                            </td>
                            break;
                        case "3":
                            <td>
                                1、建立机械设备台账，使用记录完整规范；                                                                                                                                                                 
                                2、养护机械设备管护良好，排放整齐有序；                                                                           
                                3、加大资金投入，有计划地购置适用的养护机械,提高养护机械化水平。
                            </td>
                            break;
                        case "4":
                            <td>
                                根据省局有关规定，开展了养护站场标准化建设活动，养护管理站行业标识统一、布局合理，庭院干净整洁。
                            </td>
                            break;
                        case "5":
                            <td>
                                1、养护人员上路进行路面维修和日常养护作业时，必须统一穿（戴）安全标志服（帽），雨天上路巡查排水时，穿标志雨衣；                                                                                                
                                2、路面养护施工时，按照《公路养护安全作业规程》(JTG H30-2015)摆放安全锥形标（筒）及必要的警示导向标志、险路险桥要设置警示标志。
                            </td>
                            break;
                        case "6":
                            <td>
                                能够较好地开展辖区内交通情况调查工作，对交调站点及设备维护良好。
                            </td>
                            break;
                        case "7":
                            <td>
                                1、日常养护管理工作资料上报及时、准确；
                                2、路况信息收集、报告和发布制度完善，贯彻实施情况良好，实现多种方式向公众发布和提供路况信息。
                            </td>
                            break;
                        case "8":
                            <td>
                                县级公路管理部门积极参加省、市州公路部门面向基层养护管理人员组织开展的的各类技术培训、技术交流、技术竞赛活动。
                            </td>
                            break;
                        default:
                            <td>
                                检查部、省养护督办项目整改落实情况
                            </td>
                            break;
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.BaseScore)
                </td>
                @if (ViewBag.Type == 1)
                {
                    @switch (item.Standard)
                    {
                        case "1":
                            <td>
                                每发现一处不符合要求，扣0.5分，扣完为止。
                                因巡查记录不满足最低巡查频次的，该项直接得0分。
                            </td>
                            break;
                        case "2":
                            <td>
                                每发现一处不符合要求，扣0.5分，扣完为止。
                                因巡查记录不满足最低巡查频次的，该项直接得0分。
                            </td>
                            break;
                        case "3":
                            <td>
                                每发现一处不符合要求，扣0.5分，扣完为止。
                                因巡查记录不满足最低巡查频次的，该项直接得0分。
                            </td>
                            break;
                        default:
                            <td>
                                每发现一处不符合要求，扣0.5分，扣完为止。
                                因巡查记录不满足最低巡查频次的，该项直接得0分。
                            </td>
                            break;
                    }
                }
                else if (ViewBag.Type == 2)
                {
                    @switch (item.Standard)
                    {
                        case "1":
                            <td>
                                每发现一处不符合要求，扣0.5分，每一小项最多扣3分。扣完为止。
                            </td>
                            break;
                        case "2":
                            <td>
                                每发现一处不符合要求，扣0.5分，每一小项最多扣3分。扣完为止。
                            </td>
                            break;
                        case "3":
                            <td>
                                每发现一处不符合要求，扣0.5分，每一小项最多扣1.5分。扣完为止。
                            </td>
                            break;
                        case "4":
                            <td>
                                每发现一处不符合要求，扣0.5分，每一小项最多扣1.5分。扣完为止。
                            </td>
                            break;
                        case "5":
                            <td>
                                每发现一处不符合要求，扣0.5分。扣完为止。
                            </td>
                            break;
                        case "6":
                            <td>
                                每发现一处不符合要求，扣0.5分，每一小项最多扣2分。扣完为止。
                            </td>
                            break;
                        default:
                            <td>
                                每发现一处不符合要求，扣0.5分。扣完为止。
                            </td>
                            break;
                    }
                }
                else
                {
                    @switch (item.Standard)
                    {
                        case "1":
                            <td>
                                每一项管理制度未制定或省级相关制度未响应的，扣0.5分。扣完为止。
                            </td>
                            break;
                        case "2":
                            <td>
                                每发现一处不符合要求的，扣0.5分，每一小项最多扣3分。扣完为止。
                            </td>
                            break;
                        case "3":
                            <td>
                                每发现一处不符合要求的，扣0.5分。扣完为止。
                                在上述评分基础上，年底对每个县级公路管理机构养护机械资金投入进行核实，当年自行安排了养护机械设备购置费，每自行投入10万元加1分，该项最多得3分。
                            </td>
                            break;
                        case "4":
                            <td>
                                每发现一处不符合要求的，扣0.5分。扣完为止。
                            </td>
                            break;
                        case "5":
                            <td>
                                每发现一处不符合要求的，扣0.4分。扣完为止。
                                因养护不作为,导致官司纠纷、被部、省通报批评、行评代表批评、社会群众投诉，经查实为责任承担者，该项直接得0分。
                            </td>
                            break;
                        case "6":
                            <td>
                                每发现一处站点及设备维护不到位的，扣1分。扣完为止。
                            </td>
                            break;
                        case "7":
                            <td>
                                根据省、市公路管理机构平时掌握情况，结合现场检查情况，按照优得1分、良得0.5分、差得0分进行评分。
                            </td>
                            break;
                        case "8":
                            <td>
                                根据县级公路管理机构参加各类技术培训活动的情况，按照优1分、良0.5分、差0分进行评分。
                            </td>
                            break;
                        default:
                            <td>
                                根据部、省督办通知内容进行检查，限期内未落实的，每一个项目扣1分，扣完为止。
                            </td>
                            break;
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    </tbody>
</table>

<p style="position:absolute;bottom:50px;">
    <a asp-action="TableList">返回养护信息列表</a>
</p>
